body {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

th a {
  text-decoration: none;
  color: inherit;
}
th a:hover {
  color: #0d6efd;
}

nav.navbar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.container {
  flex: 1;
}

footer {
  text-align: center;
  color: #888;
  padding: 12px 0;
  background: #f1f1f1;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

.name-cell {
  text-align: left !important;
}

.section-header th {
  color: #0d6efd;
  font-weight: 600;
  background-color: #e8f0ff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
  text-align: start;
}

.card canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.chart-wrapper {
  display: flex;
  justify-content: center;  /* canh giữa ngang */
  align-items: center;      /* canh giữa dọc */
}

.chart-wrapper canvas {
  max-width: 100%;
  max-height: 100%;
}

.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 9999;
  font-size: 14px;
}
.custom-toast.show {
  opacity: 1;
  transform: translateY(0);
}
.custom-toast.success { background: #198754; }
.custom-toast.error { background: #dc3545; }
.custom-toast.info { background: #0d6efd; }
